<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>{{title}}</title>
    <meta name="description" content="Raja Raghav is a software engineer and software developer. This is the portfolio of Raja Raghav.">
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://www.rajaraghav.com">
    <meta name="Robots" content="index, follow">

    <!--favicon rel-->
    <link rel="shortcut icon" href="/images/favicon1.ico" type="image/x-icon"> {{!--
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500" rel="stylesheet"> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--favicon rel-->
</head>

<body>
    <div class="nav" id="nav">
        <div class="nav-header">
            <div class="nav-title">
                <a href="/">
                    <img src="/images/rlogo1.png" alt="raja raghav" height="50px" width="60px">
                </a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <input type="checkbox" id="nav-check">
        <div class="nav-links">
            <a href="/blog">Blog</a>
            <a href="/books">Books</a>
            <a href="/projects" />Projects</a>
            <a href="/resources">Resources</a>


        </div>
    </div>
    {{{body}}}

</body>
<script>if (screen.width > 600) {
        document.write('<script type="text/javascript" src="/javascripts/particles.js"><\/script>');
    } 
</script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/scrollreveal.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="/javascripts/main.js"></script>

</html>